.of-note {
    display: none;
}

.cast {
    display: none;
}

.cast-text {
    color: #FFEBCD;
    width: 50%;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    margin: auto;
    margin-bottom: 1.5%;
}

.camera-set-cast {
    border-left: 2px dotted #FFEBCD;
    border-bottom: 2px dotted #FFEBCD;
    border-right: 2px dotted #FFEBCD;
    display: block;
    padding: 1.5%;
    width: 60%;
    margin: auto;
}

.camera-set-cast img {
    height: 45px;
    padding: 3px;
}

.cast-coworkers {
    margin-top: 20px;
    width: 50%;
    display: block;
    text-align: center;
}

.cast-name {
    text-decoration: none;
    color: #FFEBCD;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 21px;
}

.cast-name-black {
    text-decoration: none;
    color: #CD5C5C;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 30px;
}

.context-type {
    color: #CD5C5C;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
}

.cast-number {
    color: #FFEBCD;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 65px;
    font-weight: bold;
    line-height: 70px;
    display: block;
}

.cast-details {
    color: #FFEBCD;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 15px;
}

@media only screen and (max-width: 1545px) and (min-width: 1000px) {

    .camera-set-cast {
        width: 65%;
    }

    .camera-set-cast img {
        height: 30px;
        padding: 3px;
    }

    .cast-coworkers {
        margin-top: 20px;
        width: 70%;
        display: block;
        text-align: center;
        margin: auto;
    }

    .cast {
        text-decoration: none;
        color: black;
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 20px;
    }

}



@media only screen and (max-width: 999px) {

    .camera-set {
        width: 35%;
    }

    .camera-set img {
        height: 25px;
    }

}

