body {
    background-image: url('../img/doe_background.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.crew {
    display: none;
}

.crew-coworkers-narrow {
    display: none;
}

.crew-text {
    color: #FFEBCD;
    width: 50%;
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: "Open Sans Condensed", sans-serif;
    margin: auto;
    margin-bottom: 6%;
}

.camera-set {
    display: inline-block;
    padding: 1.5%;
    width: 45%;
    float: left;
    margin-right: 0px;
    margin-bottom: 20%;
    margin-top: 2%;
}

.camera-set img {
    width: 6.7%;
    padding: 3px;
}

.crew-coworkers {
    width: 10%;
    /*height: 20%;*/
    display: inline-block;
    text-align: right;
    float: left;
    margin-left: 20%;
    margin-right: 1%;
    padding: 1%;
    border-right: 1px dotted #FFEBCD;

}

.crew-name {
    text-decoration: none;
    color: #CD5C5C;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 200%;
    line-height: 150%;
}

.context-type {
    color: #CD5C5C;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
}

.crew-name:hover {
    text-decoration: none;
    color: #FFEBCD;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 200%;
}

.crew-name-black {
    text-decoration: none;
    color: #FFEBCD;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 200%;
    line-height: 150%;
}

/*.of-note {
    display: none;
    width: 75%;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #CD5C5C;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
}*/

/*.coworker-of-note {
    display: none;
    text-decoration: none;
    color: #FFEBCD;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 15px;
    line-height: 25px;
}*/

.crew-number {
    color: #FFEBCD;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 500%;
    line-height: 100.5%;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
    display: block;
}

.crew-details {
    color: #FFEBCD;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 15px;
}

/*.of-note-black {
    text-decoration: none;
    color: #CD5C5C;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 25px;*/


@media only screen and (min-width: 1000px) and (max-width: 1545px) {

    .crew-coworkers {
        width: 20%;
        margin-left: 15%
    }

    .camera-set {
        margin-bottom: 10%;
    }

/*    .camera-set img {
        height: 35px;
    }*/

    .crew-number {
        font-size: 400%;
    }

    .crew-text {
        width: 65%;
    }

}

@media only screen and (min-width: 807px) and (max-width: 999px) {

    .crew-text {
        width: 77%;
    }

    .camera-set {
        /*border: 1px solid blue;*/
        width: 65%;
        margin-bottom: 15%;
    }

/*    .camera-set img {
        height: 35px;
    }*/

    .crew-coworkers {
        /*border: 1px solid red;*/
        width: 21%;
        margin-left: 3%;
    }

    .crew-number {
        font-size: 400%;
    }
    
    body {
        background-size: 125%;
    }

}

@media only screen and (min-width: 421px) and (max-width: 806px) {
    .camera-set {
        width: 65%;
        margin-bottom: 15%;
    }

/*    .camera-set img {
        height: 28px;
    }*/

    .crew-coworkers {
        margin-right: 1%;
        width: 20%;
        margin-left: 5%;
    }

    .crew-text {
        width: 80%;
    }

    .crew-name {
        font-size: 18px;
    }

    .crew-name-black {
        font-size: 18px;
    }

    .crew-name:hover {
        font-size: 18px;
    }

    body {
        background-size: 235%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 420px) {

    .crew-text {
        width: 75%;
    }


    .camera-set {
        width: 65%;
        margin-bottom: 25%;
    }


 /*   .camera-set img {
        height: 23px;
    }*/


    .crew-coworkers {
        /*border: 1px solid blue;*/
        margin-left: 2%;
        width: 25%;
    }

    .crew-name {
        font-size: 18px;
        margin-right: 3px;
    }

    .crew-name:hover {
        font-size: 18px;
        margin-right: 3px;
    }

    .crew-name-black {
        font-size: 18px;
        margin-right: 3px;
    }

    .crew-number {
        font-size: 300%;
    }

    .crew-details {
        font-size: 12px
    }

/*    .of-note {
        font-size: 15px;
    }

    .coworker-of-note {
        font-size: 10px;
    }*/

}