body {
    background-color: #E6E6FA;
    /*padding-bottom: 15px;*/
}

h1 {
    font-weight: bold;
    font-size: 60px;
    margin: auto;
}

p {
    line-height: 24px;
}

ul {
    padding-left: 0
}

ul li {
    list-style-type: none; 
    list-style-position: inside; 
}

ul li:before {
    content: "\f008";
    font-family: "FontAwesome";
    margin-right: 5px;
    display: inline-block;
}

.movie-year {
    display: none;
}


/*.modal {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    height: 200px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

.modal::backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}*/

.movie-details {
    display: none;
}

.movie-details-inner {
    position: absolute;
    display: block;
    text-align: left;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(245, 245, 245, .9);
    top: 75px;
    right: 20%;
    width: 250px;
    margin-bottom: 15px;
    color: #808080;
    font-family: "Open Sans Condensed", sans-serif;
    z-index: 2;
}

.backdrop {
    display: none;
    z-index: 1;
}

.movie-details-inner img {
    display: block;
    height: 250px;
    margin: auto;
    padding-top: 20px;
}

/*.doe-mug img {
    height: 75px;
    display: block;
    padding-top: 15px;
    margin: 0 auto;

}*/

.arthur-choice {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    margin: auto;
    color: #808080;
    font-family: "Open Sans Condensed", sans-serif;
    width: 30%;
}

.arthur-link {
    text-decoration: none;
    color: #808080;
}

#arthur {
    color: #808080;
    text-align: center;
    padding-top: 75px;
    font-family: "Montserrat", sans-serif;
    margin: auto;
}

#arthur hr {
    width: 20%;
}

.page-id-link {
    text-decoration: none;
    color: black;
}

.page-identifier {
    color: black;
    width: 20%;
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    margin: auto;
}

.doe-text {
    color: #808080;
    width: 60%;
    text-align: left;
    padding-top: 15px;
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    margin: auto;
}

span {
    display: inline-block;
    text-align: center;
}

.movie {
    margin: 10px;
    /*min-width: 55px;*/
    display: inline-block;
}

/*.movie:nth-child(even) {*/
    /*float: left;*/
/*}*/

/*.movie:nth-child(odd) {*/
    /*float: right;*/
/*}*/

.revealmovie img {
    height: 125px;
}

.year {
    clear: both;
    position: relative;
    min-height: 150px;
    /*display: inline-block;*/
}

.timeline {
    clear: both;
    position: relative;
    width: 100%;
    text-align: center;
}

.vertical-bar {
    width: 1px;
    background-color: #bbb;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
}

.year:nth-child(even) .shift-left {
    right: 50%;
}

.year:nth-child(even) .shift-right {
    left: 50%;
}

.year:nth-child(odd) .shift-left {
    left: 50%;
}

.year:nth-child(odd) .shift-right {
    right: 50%;
}

.shift-left, .shift-right {
    /*border: 1px solid blue;*/
    display: inline-block;
    position: absolute;
    top: 0;
}

.crew-text {
    color: #808080;
    width: 40%;
    display: block;
    text-align: center;
    font-size: 15px;
    font-family: "Open Sans Condensed", sans-serif;
    margin: auto;
/*    padding-top: 5px;
    padding-bottom: 5px;*/
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
 /*   border-left: 2px solid black;
    border-right: 2px solid black;*/

}

.camera-set {
    border-right: 2px solid black;
    display: block;
    padding-left: 15%;
    padding-right: 10px;
    width: 30%;
}

.camera-set img {
    height: 50px;
}

.footer {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 10px;
    text-align: right;
    margin-right: 20%;
    color: #808080;
    padding-bottom: 15px;
    line-height: 12px;
}

.footer-link {
    text-decoration: none;
    color: #808080;

}

.footer-hr {
    margin-top: 50px;
    width: 60%;
}

@media only screen and (max-width: 1545px) and (min-width: 1000px) {

    .year {
        min-height: 105px;
    }

    .movie {
        margin: 5px;
    }

    .revealmovie img {
        height: 95px;
    }
}

@media only screen and (max-width: 999px) {
    .shift-left, .shift-right {
        position: static;
    }

    .page-identifier {
    padding-bottom: 10px;
 }

    .year {
        margin-top: 40px;
    }

    .vertical-bar {
        display: none;
    }

    .movie-year {
        display: block;
        margin: auto;
        font-size: 20px;
        color: #808080;
        font-family: "Open Sans Condensed", sans-serif;
    }

    .timeline {
        width: 100%;
    }

    .movie-details-inner {
        position: absolute;
        margin: auto;
        top: 0px;
        width: 200px;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        display: block;
    }
}

    .camera-set {
        width: 35%;
    }

    .camera-set img {
        height: 25px;
    }

@media only screen and (device-width: 768px) and (orientation: landscape) {
  /* rules for iPad in landscape orientation */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    #arthur hr {
        width: 80%;
}

    .camera-set {
        text-align: left;
        display: block;
        padding: 5px;
        width: 75%;
    }

    .camera-set img {
        height: 25px;
    }

    .footer-link {
        font-size: 4px;
    }

    .footer-hr {
        width: 80%;
    }

}