body {
    background-color: black;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    margin: auto;
}

p {
    line-height: 24px;
}

.arthur-choice {
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    color: #CD5C5C;
    font-family: "Open Sans Condensed", sans-serif;
    width: 30%;
}

.arthur-choice hr {
    width: 20%;
}

.arthur-link {
    text-decoration: none;
    color: #FFEBCD;
}

#arthur {
    color: #CD5C5C;
    text-align: center;
    padding-top: 75px;
    font-family: "Montserrat", sans-serif;
    margin: auto;
}

#arthur hr {
    background-color: #CD5C5C;
    width: 20%;
}

.page-id-link {
    text-decoration: none;
    color: #CD5C5C;
}

.page-identifier {
    color: #CD5C5C;
    width: 20%;
    text-align: center;
    padding-bottom: 1%;
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    margin: auto;
}

.doe-text {
    color: #FFEBCD;
    width: 50%;
    text-align: left;
    padding-top: 15px;
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    margin: auto;
}

span {
    display: inline-block;
    text-align: center;
    color: #CD5C5C;
}

.footer {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 10px;
    width: 40%;
    text-align: right;
    margin: auto;
    color: #FFEBCD;
    padding-bottom: 2px;
    line-height: 12px;
    bottom: 0;
    position: relative;
    border-top: 1px solid #FFEBCD;

}

.footer-link {
    text-decoration: none;
    color: #FFEBCD;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {

    #arthur hr {
        width: 80%;
    }

    .doe-text {
        width: 75%;
    }

    .arthur-choice {
        width: 40%;
        font-size: 15px;
        margin-bottom: 10%;
    }

    .footer-link {
        font-size: 4px;
    }

    .footer {
        font-size: 4px;
    }

    .footer-hr {
        width: 80%;
    }
    
}