{% extends 'base.html' %}
{%load staticfiles %}

{% block content %}
        <div class="container">

            <div class="doe-text">
                <p>Arthur Piantadosi was my grandfather. I called him Doe. He was a sound engineer. Worked mainly on movies. Born in New York and moved out to Los Angeles in 1936. This project is based on his work.</p>
                <p>This began as an attempt to learn web scraping. Starting at his IMDB page, I wrote a script to open the links to each movie in his filmography, capture contextual data, then open the links to the cast and crew of each movie IMDB knows about.</p>
                <p>But it's incomplete. Necessarily so. IMDB's records are limited. Sound engineers are one of the underappreciated classes of technical contributors to movies. Movie credits used to only list the sound department or the department head rather than the crew members themselves.</p>
                <p>This is a project that could be updated later should I get access to, say, old studio payroll records that show what specifically my grandfather worked on that's not reflected here.</p> 
                <p>I'd rather love that. Meantime, this is what I can do.
                <a class="arthur-link" href="https://books.google.com/books?id=2Um8uZ1OyXAC&pg=PA11&lpg=PA11&dq=%22arthur+piantadosi%22+sound+on+film&source=bl&ots=IuMS0bXGOY&sig=p1YnwXDIjUKiw6MQlrtPd2k0NGI&hl=en&sa=X&ved=0CCoQ6AEwAmoVChMImp-I3Yu4xwIVhzuICh03hQQX#v=onepage&q=%22arthur%20piantadosi%22%20sound%20on%20film&f=false" alt="Arthur Piantadosi's chapter in the oral history 'Sound on Film.'" target="_blank"><span class="small-film-icon fa fa-film"></span></a></p>
                    {# <a class="doe-mug" href="https://youtu.be/66vTeZSJId4?t=7m14s" target="_blank"><img src="{% static 'img/doe_mug.png' %}" alt="A circular headshot of Arthur Piantadosi."></a> #}
                <div class="arthur-choice">
                <hr style="border-top: 1px dotted">
                <p><a class="arthur-link" href="../movies/">film</a> | cast & crew</p>
                <hr style="border-top: 1px dotted">
                </div>

                </div>

                
            </div>
                    {# <dialog class="modal">Yay dialog?</dialog> #}   
            </div>
        </div>
    </div>

{% endblock %}