
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Arthur. | Jacob Quinn Sanders.</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Exploring the movies of Academy Award-winning sound engineer Arthur Piantadosi. A project by his grandson, Jacob Quinn Sanders.">
        <meta name="twitter:site" content="@thejqs">
        <meta name="twitter:title" content="A Python scraping project for IMDB">
        <meta name="twitter:description" content="Exploring the films of Arthur Piantadosi.">
        <meta name="twitter:image" content="{% static 'img/arthur_film.png' %}">
        <meta property="og:url" content="http://thejqs.com/arthur">
        <meta property="og:site_name" content="Jacob Quinn Sanders.">
        <meta property="og:type" content="article">
        <meta property="article:author" content="https://www.facebook.com/thejqs">
        <meta property="og:title" content="Arthur: A Python scraping project exploring the movies of Academy Award-winning sound engineer Arthur Piantadosi.">
        <meta property="og:description" content="Arthur Piantadosi was my grandfather. Just so happens he was a sound man in the movies. Ain't fancy by itself, but it means there is something left of his work for me to build on and share. So much of beginning web development seems not to focus much on the personal, instead shooting for some imagined utility. I wanted to go a different way. So from Python and lxml we go through visualizations of a little bit of Arthur's world. The movies he worked on, sure, but also the people he worked with. His work was their work, too.">
        <meta property="og:image" content="{% static 'img/ArthurFB.png' %}">


        <link rel="stylesheet" href="{% static 'css/doe_backup.css' %}" type="text/css">

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
        <link rel="stylesheet" href="{% static 'css/movies.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/arthur.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/crew.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/cast.css' %}" type="text/css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
        {% include 'top.html' %}


        {% block content %}
        {% endblock %}
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="{% static 'js/movies.js' %}"></script>
        <script src="{% static 'js/cast_crew.js' %}"></script>
    </body>
</html>