
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Arthur. | Jacob Quinn Sanders.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Exploring the movies of Academy Award-winning sound engineer Arthur Piantadosi. A project by his grandson, Jacob Quinn Sanders.">
        <meta name="twitter:site" content="@thejqs">
        <meta name="twitter:title" content="A Python scraping project for IMDB">
        <meta name="twitter:description" content="Exploring the films of Arthur Piantadosi.">
        <meta name="twitter:image" content="{% static 'img/Arthur.png' %}">
        <link rel="stylesheet" href="{% static 'css/doe_backup.css' %}" type="text/css">

        <link rel="stylesheet" href="{% static 'css/movies.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/arthur.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/crew.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/cast.css' %}" type="text/css">

        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" type="tet/css" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
        {% include 'top.html' %}


        {% block content %}
        {% endblock %}
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="{% static 'js/movies.js' %}"></script>
        <script src="{% static 'js/cast_crew.js' %}"></script>
    </body>
</html>