{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<div class="container">
        <div class="page-identifier">
                <p><a class="page-id-link" href="http://awards.bafta.org/award/1973/film/soundtrack" alt="Arthur Piantadosi and colleagues, winner of the BAFTA for 'Cabaret', 1973." title="BAFTA winners for 'Cabaret'" target="_blank">cast</a></p>
        </div>


        <div class="cast-text">
                <p>Arthur Piantadosi worked on each of the 88 movies this set represents. With cast members, he shared more than one credit list less often than with the crew. When he did, it was almost as likely to be a name you know as one you don't.</p> 
                <p>These are the cast members with whom he worked most often. For each time they worked together, one in the set will highlight.</p>
                <p><a class="arthur-link" target="_blank" href="#"></a><span class="small-film-icon fa fa-film"></span></p>    
        </div>

<div id="camera-set" class="camera-set-cast"></div>

            <div class="cast-coworkers">
                                                        
                <p><a data-number="7" class="cast-name" href="#"> Dick Winslow </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="6" class="cast-name" href="#"> George Gaines </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="5" class="cast-name" href="#"> Gene Hackman </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="5" class="cast-name" href="#"> Charles Durning </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="5" class="cast-name" href="#"> Duke Hobbe </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="5" class="cast-name" href="#"> Paul Mazursky </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="4" class="cast-name" href="#"> Elliot Gould </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="4" class="cast-name" href="#"> Jeffrey Sayre </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="4" class="cast-name" href="#"> George DeNormand </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="4" class="cast-name" href="#"> Tom Stewart </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="4" class="cast-name" href="#"> Scott Bradley </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="4" class="cast-name" href="#"> Vincent Van Lynn </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="4" class="cast-name" href="#"> Frank Matthias </a><span class="small-film-icon fa fa-film"></span>
 
                <a data-number="4" class="cast-name" href="#"> Linda Burton </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="4" class="cast-name" href="#"> Dyan Cannon </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="4" class="cast-name" href="#"> Kenner G. Kemp </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="4" class="cast-name" href="#"> John Furlong </a><span class="small-film-icon fa fa-film"></span> 
 
                <a data-number="4" class="cast-name" href="#"> Isabel Sanford </a>

        </div>

            <div class="of-note">
            <p>Others of note: <a data-number="3" class="coworker-of-note" href="#">Robert Redford </a><a data-number="3" class="coworker-of-note" href="#"> Harvey Korman </a><a data-number="3" class="coworker-of-note" href="#"> Jeff Goldblum </a><a data-number="3" class="coworker-of-note" href="#"> Ned Beatty</a></p>
        </div>

    <div class="arthur-choice">
                <hr style="border-top: 1px dotted">
                <p><a class="arthur-link" href="/arthur/">arthur</a> | <a class="arthur-link" href="/movies/">films</a>
                 | <a class="arthur-link" href="/crew/"></a>crew</p>
                <hr style="border-top: 1px dotted">
                </div>


{% include 'footer.html' %}
<script src="{% static 'js/cast_crew.js' %}"></script>
{% endblock %}