{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<div class="container">
        <div class="page-identifier">
                <p><a class="page-id-link" href="http://awards.bafta.org/award/1973/film/soundtrack" alt="Arthur Piantadosi and colleagues, winner of the BAFTA for 'Cabaret', 1973." title="BAFTA winners for 'Cabaret'" target="_blank">cast</a></p>
        </div>


        <div class="cast-text">
                <p>Arthur Piantadosi worked on each of the 88 movies this set represents. With cast members, he shared more than one credit list less often than with the crew. When he did, it was almost as likely to be a name you know as one you don't.</p> 
                <p>These are the cast members with whom he worked most often. For each time they worked together, one in the set will remain.</p>
                <p><a class="arthur-link" target="_blank" href="#"></a><span class="small-film-icon fa fa-film"></span></p>    
        </div>

<div id="camera-set" class="camera-set-cast">
                        <div id="winslow-context" class="cast">
                    {% for name, cast_member in cast_members.items %}
                        {% if name == 'Dick Winslow' %}
                        <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                    </div>

                    <div id="gaynes-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'George Gaynes' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                    </div>


                    <div id="hackman-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Gene Hackman' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="durning-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Charles Durning' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="hobbe-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Duke Hobbe' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="mazursky-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Paul Mazursky' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="gould-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Elliott Gould' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="sayre-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Jeffrey Sayre' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="denormand-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'George DeNormand' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="stewart-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Tom Stewart' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="brady-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Scott Brady' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="vanlynn-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Vincent Van Lynn' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="mathias-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Frank Mathias' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="burton-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Linda Burton' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="cannon-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Dyan Cannon' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="kemp-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Kenner G. Kemp' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="furlong-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'John Furlong' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="sanford-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Isabel Sanford' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="durning-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Charles Durning' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="redford-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Robert Redford' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="korman-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Harvey Korman' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="goldblum-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Jeff Goldblum' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                <div id="beatty-context" class="cast">
                        {% for name, cast_member in cast_members.items %}
                       {% if name == 'Ned Beatty' %}
                            <div class="cast-context">
                            <div class="cast-number">
                                {{ cast_member.0 }}
                            </div>
                            <div class="cast-details">
                                <p><span class="context-type">Movies:</span> {{ cast_member.1 }}</p>
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>
                

</div>

            <div class="cast-coworkers">
                                                        
                <p><a id="winslow" data-number="81" class="cast-name" href="#"> Dick Winslow </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="gaynes" data-number="82" class="cast-name" href="#"> George Gaynes </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="hackman" data-number="83" class="cast-name" href="#"> Gene Hackman </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="durning" data-number="83" class="cast-name" href="#"> Charles Durning </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="hobbe" data-number="83" class="cast-name" href="#"> Duke Hobbe </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="mazursky" data-number="83" class="cast-name" href="#"> Paul Mazursky </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="gould" data-number="84" class="cast-name" href="#"> Elliott Gould </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="sayre" data-number="84" class="cast-name" href="#"> Jeffrey Sayre </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="denormand" data-number="84" class="cast-name" href="#"> George DeNormand </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="stewart" data-number="84" class="cast-name" href="#"> Tom Stewart </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="brady" data-number="84" class="cast-name" href="#"> Scott Brady </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="vanlynn" data-number="84" class="cast-name" href="#"> Vincent Van Lynn </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="mathias" data-number="84" class="cast-name" href="#"> Frank Mathias </a><span class="small-film-icon fa fa-film"></span>
 
                <a id="burton" data-number="84" class="cast-name" href="#"> Linda Burton </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="cannon" data-number="84" class="cast-name" href="#"> Dyan Cannon </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="kemp" data-number="84" class="cast-name" href="#"> Kenner G. Kemp </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="furlong" data-number="84" class="cast-name" href="#"> John Furlong </a><span class="small-film-icon fa fa-film"></span> 
 
                <a id="sanford" data-number="84" class="cast-name" href="#"> Isabel Sanford </a>

        </div>

            <div class="of-note">
            <p>Others of note: <a id="redford" data-number="85" class="coworker-of-note" href="#">Robert Redford </a><a id="korman" data-number="85" class="coworker-of-note" href="#"> Harvey Korman </a><a id="goldblum" data-number="85" class="coworker-of-note" href="#"> Jeff Goldblum </a><a id="beatty" data-number="85" class="coworker-of-note" href="#"> Ned Beatty </a><a id="caan" data-number="86" class="coworker-of-note" href="#"> James Caan </a><a id="bergman" data-number="86" class="coworker-of-note" href="#"> Ingrid Bergman </a><a id="newman" data-number="86" class="coworker-of-note" href="#"> Paul Newman </a><a id="peck" data-number="86" class="coworker-of-note" href="#"> Gregory Peck </a><a id="murray" data-number="86" class="coworker-of-note" href="#"> Bill Murray </a><a id="ford" data-number="86" class="coworker-of-note" href="#"> Harrison Ford </a><a id="deluise" data-number="86" class="coworker-of-note" href="#"> Dom DeLuise</a></p>
        </div>

    <div class="arthur-choice">
                <hr style="border-top: 1px dotted">
                <p><a class="arthur-link" href="/arthur/">arthur</a> | <a class="arthur-link" href="/movies/">films</a>
                 | <a class="arthur-link" href="/crew/">crew</a></p>
                <hr style="border-top: 1px dotted">
                </div>


{% include 'footer.html' %}
<script src="{% static 'js/cast_crew.js' %}"></script>
{% endblock %}