{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
        <div class="page-identifier">
                <p><a class="page-id-link" href="http://www.americanradiohistory.com/Archive-Recording-Engineer/70s/Recording-1970-12.pdf" alt="Arthur Piantadosi interviewed in the November/December 1970 issue of 'RECORDING engineer/producer'" title="An interview with Arthur Piantadosi, 1970." target="_blank">crew</a></p>
        </div>

        <div class="crew-text">
                <p>Arthur Piantadosi worked on each of the 88 movies this set represents. Often enough, his wasn't the only name to repeat from one to another. With some people he shared a credit list quite often. Others not so much.</p> 
                <p>Here we can see some of those relationships for ourselves.</p>
                <p>These are the eight crew members with whom he worked most often. For each time they worked together, one in the set will remain.</p>
                <p><a class="arthur-link" alt="Arthur Piantadosi, second row from the bottom and fourth from the left, with the Academy of Motion Picture Arts and Sciences board of governors and Oscar, circa 1970s." title="Arthur Piantadosi and the Academy's board of governors." target="_blank" href="{% static 'img/doe2.jpg' %}"><span class="small-film-icon fa fa-film"></span></a></p>    
        </div>


        <div class="crew-coworkers"> 
                                                        
                <p><a id="fresholtz" data-number="42" class="crew-name" href="#">Les Fresholtz </a></p>

                <p><a id="wallin" data-number="58" class="crew-name" href="#">Dan Wallin </a></p>
  
                <p><a id="minkler" data-number="65" class="crew-name" href="#">Michael Minkler </a></p>
  
                <p><a id="lane" data-number="76" class="crew-name" href="#">Ben Lane </a></p>
  
                <p><a id="frankovich" data-number="76" class="crew-name" href="#">M.J. Frankovich </a></p>
  
                <p><a id="vjones" data-number="76" class="crew-name" href="#">Virginia Jones </a></p></p>
  
                <p><a id="gaspar" data-number="77" class="crew-name" href="#">Chuck Gaspar </a></p>

                <p><a id="tyler" data-number="77" class="crew-name" href="#">Richard Tyler</a></p>

        </div>


        <div class="camera-set" id="camera-set">
                    <div id="fresholtz-context" class="crew">
                    {% for name, crew_member in crew_members.items %}
                        {% if name == 'Les Fresholtz' %}
                        <div class="crew-context">
                            <span class="crew-number">
                                {{ crew_member.0 }}
                            </span>
                            <div class="crew-details">
                                <p><span class="context-type">Movies:</span> {{ crew_member.1 }}</p>
                                <p><span class="context-type">Jobs:</span> {{ crew_member.2 }}</p> 
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                    </div>

                    <div id="wallin-context" class="crew">
                        {% for name, crew_member in crew_members.items %}
                       {% if name == 'Dan Wallin' %}
                            <div class="crew-context">
                            <div class="crew-number">
                                {{ crew_member.0 }}
                            </div>
                            <div class="crew-details">
                                <p><span class="context-type">Movies:</span> {{ crew_member.1 }}</p>
                                <p><span class="context-type">Jobs:</span> {{ crew_member.2 }}</p> 
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                    </div>

                    <div id="minkler-context" class="crew">
                        {% for name, crew_member in crew_members.items %}
                       {% if name == 'Michael Minkler' %}
                            <div class="crew-context">
                            <div class="crew-number">
                                {{ crew_member.0 }}
                            </div>
                            <div class="crew-details">
                                <p><span class="context-type">Movies:</span> {{ crew_member.1 }}</p>
                                <p><span class="context-type">Jobs:</span> {{ crew_member.2 }}</p> 
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                    </div>

                    <div id="lane-context" class="crew">
                        {% for name, crew_member in crew_members.items %}
                       {% if name == 'Ben Lane' %}
                            <div class="crew-context">
                            <div class="crew-number">
                                {{ crew_member.0 }}
                            </div>
                            <div class="crew-details">
                                <p><span class="context-type">Movies:</span> {{ crew_member.1 }}</p>
                                <p><span class="context-type">Jobs:</span> {{ crew_member.2 }}</p> 
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                    </div>

                    <div id="frankovich-context" class="crew">
                        {% for name, crew_member in crew_members.items %}
                       {% if name == 'M.J. Frankovich' %}
                            <div class="crew-context">
                            <div class="crew-number">
                                {{ crew_member.0 }}
                            </div>
                            <div class="crew-details">
                                <p><span class="context-type">Movies:</span> {{ crew_member.1 }}</p>
                                <p><span class="context-type">Jobs:</span> {{ crew_member.2 }}</p> 
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                    </div>

                    <div id="vjones-context" class="crew">
                        {% for name, crew_member in crew_members.items %}
                       {% if name == 'Virginia Jones' %}
                            <div class="crew-context">
                            <div class="crew-number">
                                {{ crew_member.0 }}
                            </div>
                            <div class="crew-details">
                                <p><span class="context-type">Movies:</span> {{ crew_member.1 }}</p>
                                <p><span class="context-type">Jobs:</span> {{ crew_member.2 }}</p> 
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                    </div>

                    <div id="gaspar-context" class="crew">
                        {% for name, crew_member in crew_members.items %}
                       {% if name == 'Chuck Gaspar' %}
                            <div class="crew-context">
                            <div class="crew-number">
                                {{ crew_member.0 }}
                            </div>
                            <div class="crew-details">
                                <p><span class="context-type">Movies:</span> {{ crew_member.1 }}</p>
                                <p><span class="context-type">Jobs:</span> {{ crew_member.2 }}</p> 
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                    </div>

                    <div id="tyler-context" class="crew">
                        {% for name, crew_member in crew_members.items %}
                       {% if name == 'Richard Tyler' %}
                            <div class="crew-context">
                            <div class="crew-number">
                                {{ crew_member.0 }}
                            </div>
                            <div class="crew-details">
                                <p><span class="context-type">Movies:</span> {{ crew_member.1 }}</p>
                                <p><span class="context-type">Jobs:</span> {{ crew_member.2 }}</p> 
                            </div>
                            </div>
                       {% endif %}
                    {% endfor %}
                </div>

        </div>

        <!-- <div class="of-note">
            <p>Others of note: <a id="pollack" data-number="82" class="coworker-of-note" href="#">Sidney Pollack </a><a id="grusin" data-number="80" class="coworker-of-note" href="#"> Dave Grusin </a><a id="brooks" data-number="86" class="coworker-of-note" href="#"> Mel Brooks </a><a id="qjones" data-number="82" class="coworker-of-note" href="#"> Quincy Jones</a></p>
        </div> -->



    <div class="arthur-choice">
        <hr style="border-top: 1px dotted">
                <p><a class="arthur-link" href="../">arthur</a> | <a class="arthur-link" href="/movies/">films</a>
                 | <a class="arthur-link" href="/cast/">cast</a></p>
        <hr style="border-top: 1px dotted">
        </div>
        </div>


{% include 'footer.html' %}
{% endblock %}
