{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
        <div class="page-identifier">
                <p><a class="page-id-link" href="http://www.americanradiohistory.com/Archive-Recording-Engineer/70s/Recording-1970-12.pdf" alt="Arthur Piantadosi interviewed in the November/December 1970 issue of 'RECORDING engineer/producer'" title="An interview with Arthur Piantadosi, 1970." target="_blank">crew</a></p>
        </div>

        <div class="crew-text">
                <p>Arthur Piantadosi worked on each of the 88 movies this set represents. Often enough, his wasn't the only name to repeat from one to another. With some people he shared a credit list quite often. Others not so much.</p> 
                <p>Here we can see some of those relationships for ourselves.</p>
                <p><span class="small-film-icon fa fa-film"></span></p>    
        </div>



        <div class="camera-set" id="camera-set"></div>
                                            <p>
                <a id="fresholtz" class="coworkers" href="#"><h3>Les Fresholtz </h3></a>

                <a id="wallin" class="coworkers" href="#"><h3>Dan Wallin </h3></a>

                <a id="minkler" class="coworkers" href="#"><h3>Michael MInkler </h3></a>

                <a id="lane" class="coworkers" href="#"><h3>Ben Lane </h3></a>

                <a id="frankovich" class="coworkers" href="#"><h3>M.J. Frankovich </h3></a>

                <a id="jones" class="coworkers" href="#"><h3>Virginia Jones </h3></a>

                <a id="gaspar" class="coworkers" href="#"><h3>Chuck Gaspar </h3></a>

                <a id="tyler" class="coworkers" href="#"><h3>Richard Tyler</h3></a>

                </p>

    <div class="arthur-choice">
                <hr style="border-top: 1px dotted">
                <p><a class="arthur-link" href="../main/">arthur</a> | <a class="arthur-link" href="../movies/">films</a>
                 | cast</p>
                <hr style="border-top: 1px dotted">
                </div>


    {% include 'footer.html' %}
    <script src="{% static 'js/crew.js' %}"></script>
{% endblock %}
