{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
        <div class="page-identifier">
                <p><a class="page-id-link" href="http://www.americanradiohistory.com/Archive-Recording-Engineer/70s/Recording-1970-12.pdf" alt="Arthur Piantadosi interviewed in the November/December 1970 issue of 'RECORDING engineer/producer'" title="An interview with Arthur Piantadosi, 1970." target="_blank">crew</a></p>
        </div>

        <div class="crew-text">
                <p>Arthur Piantadosi worked on each of the 88 movies this set represents. Often enough, his wasn't the only name to repeat from one to another. With some people he shared a credit list quite often. Others not so much.</p> 
                <p>Here we can see some of those relationships for ourselves.</p>
                <p>These are the eight crew members with whom he worked most often. For each time they worked together, one in the set will highlight.</p>
                <p><span class="small-film-icon fa fa-film"></span></p>    
        </div>


        {# <div id="wrapper"> #}
        <div class="crew-coworkers">
                                                        
                <p><a data-number="46" class="crew-name" href="#">Les Fresholtz </a></p>

                <p><a data-number="30" class="crew-name" href="#">Dan Wallin </a></p>
  
                <p><a data-number="23" class="crew-name" href="#">Michael Minkler </a></p>
  
                <p><a data-number="12" class="crew-name" href="#">Ben Lane </a></p>
  
                <p><a data-number="12" class="crew-name" href="#">M.J. Frankovich </a></p>
  
                <p><a data-number="12" class="crew-name" href="#">Virginia Jones </a></p></p>
  
                <p><a data-number="11" class="crew-name" href="#">Chuck Gaspar </a></p>

                <p><a data-number="11" class="crew-name" href="#">Richard Tyler</a></p>

        </div>
        <div class="camera-set" id="camera-set"></div>

        <div class="of-note">
            <p>Others of note: <a data-number="6" class="coworker-of-note" href="#">Sidney Pollack </a><a data-number="8" class="coworker-of-note" href="#"> Dave Grusin </a><a data-number="2" class="coworker-of-note" href="#"> Mel Brooks </a><a data-number="6" class="coworker-of-note" href="#"> Quincy Jones</a></p>
        </div>
        </div>

    <div class="arthur-choice">
                <hr style="border-top: 1px dotted">
                <p><a class="arthur-link" href="/arthur/">arthur</a> | <a class="arthur-link" href="/movies/">films</a>
                 | <a class="arthur-link" href="/cast/">cast</a></p>
                <hr style="border-top: 1px dotted">
                </div>


{% include 'footer.html' %}
<script src="{% static 'js/cast_crew.js' %}"></script>
{% endblock %}
