    {% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="container">
        <div class="page-identifier">
                <a class="page-id-link" href="https://youtu.be/66vTeZSJId4?t=7m41s" target="_blank" alt="Video: Arthur Piantadosi and his colleagues win an Academy Award for 'All the President's Men'" name="Arthur Piantadosi and Oscar."><p>films</p></a>
        </div>

            <div class="timeline">
                <div class="vertical-bar"></div>
                    {% for year, year_movies in movies.items %}

                        <div class="year">

                            <div class="movie-year"><p>{{ year }}</p></div>

                                <div class="shift-left">

                                   {% for context in year_movies %}


                                          <div class="movie">
                                                {% if context.poster %}

                                                    <a class="revealmovie" href="#"><img src="{{ context.poster.url }}" alt="This is the poster for {{ context.title }}"></a>

                                                {% else %}

                                                    <a class="revealmovie" href="#"><img src="{% static 'img/Film-3-icon.png' %}" alt="This movie had no poster, so we used a freely available illustration of cellulose film instead."></a>
                                 
                                                {% endif %}

                                                    <div class="movie-details">
                                                    <div class="backdrop"></div>
                                                    <div class="movie-details-inner">


                                                    {% if context.poster %}
                                                    <img src="{{ context.poster.url }}" alt="A larger view of the poster for {{ context.title }}">
                                                    {% else %}
                                                    <img src="{% static 'img/Film-3-icon.png' %}" alt="This movie had no poster on IMDB, so we used a freely available illustration of cellulose film instead.">
                                                    {% endif %}

                                                    
                                                      <h2><b>{{ context.title }}</b></h2>

                                                        <p class="year-released">{{ context.year_released }}</p>

                                                                                                                <p>
                                                        <p>
                                                        {% if context.title == "All the President's Men" %}
                                                        Won Oscar. 

                                                        {% endif %}

                                                        {% if context.title == "Marooned" or context.title == "Butterflies Are Free" or context.title == "Bite the Bullet" or context.title == "The Electric Horseman" or context.title == "Altered States" or context.title == "Tootsie" %}
                                                        Nominated for Oscar. 

                                                        {% endif %}

                                                        {% if context.title == "Cabaret" or context.title == "All the President's Men" %}
                                                        Won BAFTA.
                                                            
                                                        {% endif %}

                                                        </p>
                                                        <ul class="genres">
                                                            {% for genre in context.genres %}
                                                                <li>{{ genre }}</li>
                                                            {% endfor %}

                                                        </ul>

                                                        
                                                <p class="description">{{ context.description }}</p>

                                                        <p>Arthur turned {{ context.age }} years old that year. He had been in Los Angeles for {{ context.arthur_in_la }} years and married for {{ context.arthur_married }}.</p>

                                                    {% if context.grandchild_count >= 1 %}
                                                        
                                                        <p>Of his 18 grandchildren, {{ context.grandchild_count }} had been born by the end of that year. </p> 
                                                    {% endif %}
                                                    </div>


                                        </div>
                                    </div>
                            {% if forloop.counter == forloop.revcounter or forloop.counter == forloop.revcounter|add:"-1" %}
                                </div>
                                <div class="shift-right">                                
                            {% endif %}
                        {% endfor %}
                            </div>
                        </div>
                {% endfor %}           
        </div>
    </div>
    <div class="arthur-choice">
                <hr style="border-top: 1px dotted">
                <p><a class="arthur-link" href="../main/">arthur</a> | <a class="arthur-link" href="../crew/">crew</a>
                 | cast</p>
                <hr style="border-top: 1px dotted">
                </div>

{% endblock %}